@mixin o-mat-form-field-typography-lite($config) {
  // The unit-less line-height from the font config.
  $line-height: mat-line-height($config, input);

  // The amount to scale the font for the floating label and subscript.
  $subscript-font-scale: .75;
  // The amount to scale the font for the prefix and suffix icons.
  $prefix-suffix-icon-font-scale: 1.4;

  // The amount of space between the top of the line and the top of the actual text
  // (as a fraction of the font-size).
  $line-spacing: ($line-height - 1) / 2;
  // The padding on the infix. Mocks show half of the text size, but seem to measure from the edge
  // of the text itself, not the edge of the line; therefore we subtract off the line spacing.
  $infix-padding: .3em - $line-spacing;
  // The margin applied to the form-field-infix to reserve space for the floating label.
  $infix-margin-top: 1em * $line-height * $subscript-font-scale;
  // Font size to use for the label and subscript text.
  $subscript-font-size: $subscript-font-scale * 100%;
  // Font size to use for the for the prefix and suffix icons.
  $prefix-suffix-icon-font-size: $prefix-suffix-icon-font-scale * 100%;
  // The space between the bottom of the .mat-form-field-flex area and the subscript wrapper.
  // Mocks show half of the text size, but this margin is applied to an element with the subscript
  // text font size, so we need to divide by the scale factor to make it half of the original text
  // size. We again need to subtract off the line spacing since the mocks measure to the edge of the
  // text, not the  edge of the line.
  $subscript-margin-top: .3em / $subscript-font-scale - ($line-spacing * 2);
  // The padding applied to the form-field-wrapper to reserve space for the subscript, since it's
  // absolutely positioned. This is a combination of the subscript's margin and line-height, but we
  // need to multiply by the subscript font scale factor since the wrapper has a larger font size.
  $wrapper-padding-bottom: ($subscript-margin-top + $line-height) * $subscript-font-scale* .0;

  .mat-form-field.mat-form-field {
    &.mat-form-field-invalid {
      .mat-error {
        display: none;
      }
    }

    .mat-form-field {
      @include mat-typography-level-to-styles($config, input);
    }

    .mat-form-field-wrapper {
      padding-bottom: $wrapper-padding-bottom;
    }

    &.icon-field .mat-form-field-suffix .icon-btn,
    &.icon-field .mat-form-field-suffix .mat-icon-button {
      height: $prefix-suffix-icon-font-scale * 1em;
      width: $prefix-suffix-icon-font-scale * 1em;
    }

    .mat-form-field-prefix,
    .mat-form-field-suffix {
      // Allow icons in a prefix or suffix to adapt to the correct size.
      .mat-icon {
        font-size: $prefix-suffix-icon-font-size;
        line-height: $line-height;
      }

      // Allow icon buttons in a prefix or suffix to adapt to the correct size.
      .mat-icon-button {
        height: $prefix-suffix-icon-font-scale * 1em;
        width: $prefix-suffix-icon-font-scale * 1em;

        .mat-icon {
          height: $line-height * 1em;
          line-height: $line-height;
        }
      }
    }

    .mat-form-field-infix {
      padding: $infix-padding 0;
      // Throws off the baseline if we do it as a real margin, so we do it as a border instead.
      border-top: $infix-margin-top solid transparent;
    }

    &.mat-form-field-can-float {
      &.mat-form-field-should-float .mat-form-field-label,
      .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
        @include _mat-form-field-label-floating(
                $subscript-font-scale, $infix-padding, $infix-margin-top);
      }
  
      .mat-form-field-autofill-control:-webkit-autofill + .mat-form-field-label-wrapper
          .mat-form-field-label {
        @include _mat-form-field-label-floating(
                $subscript-font-scale, $infix-padding, $infix-margin-top);
      }
  
      // Server-side rendered matInput with a label attribute but label not shown
      // (used as a pure CSS stand-in for mat-form-field-should-float).
      .mat-input-server[label]:not(:label-shown) + .mat-form-field-label-wrapper
          .mat-form-field-label {
        @include _mat-form-field-label-floating(
                $subscript-font-scale, $infix-padding, $infix-margin-top);
      }
    }

    .mat-form-field-label-wrapper {
      top: -$infix-margin-top;
      padding-top: $infix-margin-top;
    }

    .mat-form-field-label {
      top: $infix-margin-top + $infix-padding;
    }

    .mat-form-field-underline {
      // We want the underline to start at the end of the content box, not the padding box,
      // so we move it up by the padding amount.
      bottom: $wrapper-padding-bottom;
    }

    .mat-form-field-subscript-wrapper {
      font-size: $subscript-font-size;
      margin-top: $subscript-margin-top;

      // We want the subscript to start at the end of the content box, not the padding box,
      // so we move it up by the padding amount (adjusted for the smaller font size);
      top: calc(100% - #{$wrapper-padding-bottom / $subscript-font-scale});
    }
  }
}

/*it's necessary redefined the font size of the checkbox*/
@mixin o-mat-checkbox-typography($config) {
  // The ripple size of the checkbox
  $_mat-checkbox-ripple-radius: 17px;

  .o-checkbox {
    .mat-checkbox {
      font-size: mat-font-size($config, input);
    }

    .mat-checkbox-ripple {
      left: calc(50% - #{$_mat-checkbox-ripple-radius});
      top: calc(50% - #{$_mat-checkbox-ripple-radius});
      height: $_mat-checkbox-ripple-radius * 2;
      width: $_mat_checkbox-ripple-radius * 2;
    }
  }
}
