@import 'node_modules/@angular/material/theming';
@import './lite/layout.scss';
@import './default/typography/ontimize.scss';
@import './default/addons/report-on-demand.scss';

@mixin ontimize-theme-styles($theme, $typography: null) {
  @if $typography !=null {
    $typography: map-merge($default-typography, $typography);
  }

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  // $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $container-background: mat-color($background, 'card');
  $border-radius: 2px;
  $button-line-height: 30px;
  $basic-padding-size: 8px;
  // $tabs-header-border: 1px solid mat-color($foreground, divider);
  $tabs-header-border: none;
  $inactive-tab-opacity: .35;
  $font-size-title-container: 1;
  $fill-background-input: mat-color($foreground, base, 0.1);
  $is-dark-theme: map-get($theme, is-dark);

  // $background-tab-active: mat-color($background, 800);
  $background-tab-inactive-on-dark: #686868;
  $background-tab-inactive-on-light: #D7DDE0;
  $background-tab-inactive: if($is-dark-theme, $background-tab-inactive-on-dark, $background-tab-inactive-on-light);
  // $mat-font-family: 'Lato', sans-serif !default;
  @include report-on-demand($theme);
  @include layout-padding-margin();

  /* CONTAINER */
  .rounded-panel,
  .standalone-chart-container,
  .standalone-form-container .o-form-content-wrapper {
    background: $container-background;
    border-radius: $border-radius;
  }

  .standalone-chart-container {
    margin-top: 48px;
  }

  .standalone-form-container {
    .inner-form {
      padding: $basic-padding-size*2;
    }
  }

  /* APP SIDENAV */
  .o-app-sidenav {
    font-weight: 400;
    color: #aaaaaa;
  }

  /* USER INFO */
  o-app-header .o-app-header-title {
    font-weight: 700;
  }

  .o-app-header {
    background-color: $container-background;
  }

  /* FORM */
  .o-form-toolbar {
    .mat-toolbar {
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.24);
      background-color: mat-color($background, background);
      border-radius: $border-radius;
      min-height: initial;
    }
  }

  /* TABS */
  .mat-tab-group {

    .mat-tab-label,
    .mat-tab-link {
      opacity: .75;

      &.mat-tab-label-active {
        opacity: .95;
      }
    }

    // Ontimize tabs
    &.o-tab-ontimize {
      >.mat-tab-header {
        border: none;

        .mat-tab-label-container .mat-tab-label {
          background: $background-tab-inactive;
          padding: 0;

          span.tab-label {
            text-overflow: clip;
            position: relative;

            span.gradient-layer {
              width: 12px;

              background: linear-gradient(to right, transparent, $background-tab-inactive 100%);
              height: 100%;
              position: absolute;
              right: 0;
            }
          }

          &:not(.mat-tab-label-active) {
            &:not(:last-child) {
              +.mat-tab-label:not(.mat-tab-label-active) {
                .mat-tab-label-content {
                  border-left: 1px solid mat-color($foreground, divider);

                }
              }
            }
          }

          .mat-tab-label-content {
            padding: 0 8px;
            width: 100%;
          }

          &.mat-tab-label-active {
            background: $container-background;

            span.tab-label {
              span.gradient-layer {
                background: linear-gradient(to right, transparent, $container-background 100%);

              }
            }

          }
        }

        mat-ink-bar {
          display: none;
        }
      }

      >.mat-tab-body-wrapper {
        background: $container-background;
        border-radius: $border-radius;
        border-top: $tabs-header-border;
        border-top-left-radius: initial;
      }
    }

    // All tabs
    &.mat-tab-group {
      .mat-tab-body-wrapper {
        padding: $basic-padding-size;
      }
    }
  }

  /* BUTTON */
  button {

    &.mat-button,
    &.mat-flat-button,
    &.mat-icon-button,
    &.mat-raised-button,
    &.mat-stroked-button {
      border-radius: $border-radius;
    }
  }

  /* TABLE */
  .ontimize-table.o-table {
    font-weight: 400;

    .o-table-container {
      border: none;
      border-radius: $border-radius;
      box-sizing: border-box;

      /*Toolbar*/
      .o-table-toolbar {
        margin: 0 0 4px;
        padding-top: $basic-padding-size;
      }

      .o-table-menu {
        .o-table-option-active {
          background: mat-color($foreground, divider);
        }
      }

      thead tr th {
        font-weight: 700;
      }

      tbody tr.even,
      thead tr {
        background-color: inherit;
      }

      tbody td.o-table-column-select-checkbox .mat-checkbox-inner-container .mat-checkbox-background,
      thead tr th.o-table-column-select-checkbox .mat-checkbox-inner-container .mat-checkbox-background {
        background-color: mat-color($accent);
      }

      .mat-header-cell {
        font-weight: 700;
      }
    }

    .mat-paginator {
      background: inherit;
    }

    .mat-table {
      .mat-header-row .mat-header-cell {
        font-weight: 700;
      }
    }
  }

  .ontimize-table.o-table.o-table-fixed {
    .o-scrollable-container {
      height: 100%;
      overflow-y: auto;
    }
  }

  .mat-menu-panel.o-table-quickfilter-menu .mat-checkbox {
    padding: 2px 0;
  }

  .mat-menu-panel.o-search-input-menu .mat-checkbox {
    padding: 2px 0;
  }

  /*background levels */
  .bg-level-0,
  o-column.o-column.bg-level-0,
  o-row.o-row.bg-level-0 {
    background-color: mat-color($background, level-0);
  }

  .bg-level-04,
  o-column.o-column.bg-level-04,
  o-row.o-row.bg-level-04 {
    background-color: mat-color($background, level-04);
  }

  .bg-level-06,
  o-column.o-column.bg-level-06,
  o-row.o-row.bg-level-06 {
    background-color: mat-color($background, level-06);
  }

  .bg-level-08,
  o-column.o-column.bg-level-08,
  o-row.o-row.bg-level-08 {
    background-color: mat-color($background, level-08);
  }

  .bg-level-1,
  o-column.o-column.bg-level-1,
  o-row.o-row.bg-level-1 {
    background-color: mat-color($background, level-1);
  }

}