
@import 'node_modules/@angular/material/theming';

@import './lite/layout-lite.scss';
@import './lite/typography-lite.scss';
@import './lite/typography/ontimize-lite.scss';
@import './lite/form-field/o-form-field-theme.scss';
@import './ontimize-theme-styles.scss';

@mixin ontimize-theme-styles-lite($theme, $typography: null) {

  @if $typography != null {
    $typography: map-merge($lite-typography, $typography);
  } else {
    $typography: $lite-typography;
  }

  @include ontimize-theme-styles($theme, $typography);

  @include o-table-typography-lite($typography);
  @include o-mat-form-field-typography-lite($typography);
  @include o-common-typography-lite($typography);
  @include layout-padding-margin-lite();

  @include o-form-theme();

}
