@import 'node_modules/@angular/material/theming';
@import './lite/layout.scss';
@mixin ontimize-theme-styles($theme, $typography: null) {
   @if $typography == null{
    $typography: mat-typography-config();
  }
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  // $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $container-background: mat-color($background, 'card');
  $border-radius: 6px;
  $button-line-height: 30px;
  $basic-padding-size: 8px;
  // $tabs-header-border: 1px solid mat-color($foreground, divider);
  $tabs-header-border: none;
  $inactive-tab-opacity: .35;
  $font-size-title-container: 1;
  $fill-background-input: mat-color($foreground, base,0.1);
  // $mat-font-family: 'Lato', sans-serif !default;
  @include layout-padding-margin();
  /* CONTAINER */
  .rounded-panel,
  .standalone-chart-container,
  .standalone-form-container .o-form-content-wrapper {
    background: $container-background;
    border-radius: $border-radius;
  }

  .standalone-chart-container {
    margin-top: 48px;
  }

  .standalone-form-container {
    .inner-form {
      padding: $basic-padding-size*2;
    }
  }
  /* APP SIDENAV */
  .o-app-sidenav {
    font-weight: 400;
    color: #aaaaaa;
  }
  /* USER INFO */
  o-app-header .o-app-header-title,
  o-user-info {
    font-weight: 700;
  }
  /* FORM */
  .o-form-toolbar {
    .mat-toolbar {
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.24);
      background-color: mat-color($background, background);
      border-radius: $border-radius;
      min-height: initial;

      .mat-icon-button:not([disabled]) .mat-icon {
        color: mat-color($foreground, secondary-text);
      }

      .o-form-toolbar-button {
        line-height: $button-line-height;

        &.mat-stroked-button {
          margin: 0 $basic-padding-size;
        }

        &.mat-stroked-button:not([disabled]) {
          color: mat-color($foreground, secondary-text);
        }
      }
    }
  }
  /* TABS */
  .mat-tab-group {
    .mat-tab-label,
    .mat-tab-link {
      font-family: mat-font-family($typography, input);
      font-size: mat-font-size($typography, input);
      font-weight: mat-font-weight($typography, input);
    }
    // Ontimize tabs
    &.o-tab-ontimize {
      > .mat-tab-header {
        border: none;

        .mat-tab-label-container .mat-tab-label {
          border-top-left-radius: $border-radius;
          border-top-right-radius: $border-radius;
          opacity: $inactive-tab-opacity;

          &.mat-tab-label-active {
            background: $container-background;
            opacity: 1;
          }
        }

        mat-ink-bar {
          display: none;
        }
      }

      > .mat-tab-body-wrapper {
        background: $container-background;
        border-radius: $border-radius;
        border-top: $tabs-header-border;
        border-top-left-radius: initial;
      }
    }
    // All tabs
    &.mat-tab-group {
      .mat-tab-body-wrapper {
        padding: $basic-padding-size;
      }
    }
  }
  /* TABLE */
  .ontimize-table.o-table {
    font-weight: 400;

    .o-table-container {
      border: none;
      border-radius: $border-radius;
      box-sizing: border-box;
      /*Toolbar*/
      .toolbar {
        margin: 0 0 4px;
        padding-top: $basic-padding-size;

        .buttons .o-table-button .mat-button {
          line-height: inherit;
          height: 32px;
          border: 1px solid mat-color($primary);
          border-radius: $border-radius;
          margin: 0 $basic-padding-size;

          &.disabled {
            border: 1px solid mat-color($background, disabled-button);
          }

          &:not(.disabled):hover {
            border: 1px solid mat-color($primary);
            border-radius: $border-radius;
            margin: 0 $basic-padding-size;
          }
        }
      }

      .o-table-menu {
        .o-table-option-active {
          background: mat-color($foreground, divider);
        }
      }

      thead tr th {
        font-weight: 700;
      }

      tbody tr.even,
      thead tr {
        background-color: inherit;
      }

      tbody td.o-table-column-select-checkbox .mat-checkbox-inner-container .mat-checkbox-background,
      thead tr th.o-table-column-select-checkbox .mat-checkbox-inner-container .mat-checkbox-background {
        background-color: mat-color($accent);
      }

      .mat-header-cell {
        font-weight: 700;
      }
    }

    .mat-paginator {
      background: inherit;
    }

    .mat-table {
      .mat-header-row .mat-header-cell {
        font-weight: 700;
      }
    }
  }

  .ontimize-table.o-table.o-table-fixed {
    .o-scrollable-container {
      height: 100%;
      overflow-y: auto;
    }
  }

  .mat-menu-panel.o-table-quickfilter-menu .mat-checkbox {
    padding: 2px 0;
  }

  .mat-menu-panel.o-search-input-menu .mat-checkbox {
    padding: 2px 0;
  }
}
