@use '@angular/material'as mat;

// Include non-theme styles for core.
@include mat.core();

$primary: mat.define-palette($mat-indigo);
$accent: mat.define-palette($mat-pink, A200, A100, A400);

$theme: mat.define-light-theme($primary, $accent);
$dark-theme: mat.define-dark-theme($primary, $accent);