@import '../styles/ontimize-theme-styles.scss';

$primary: mat-palette($mat-purple, 700, 500, 800);
$accent: mat-palette($mat-green, A200, A100, A400);

$theme: o-mat-light-theme($primary, $accent);
$dark-theme: o-mat-dark-theme($primary, $accent);