@import '../styles/ontimize-theme-styles.scss';

$primary: mat-palette($mat-deep-purple);
$accent: mat-palette($mat-amber, A200, A100, A400);

$theme: o-mat-light-theme($primary, $accent);
$dark-theme: o-mat-dark-theme($primary, $accent);