@import 'node_modules/@angular/material/theming';
@import '../styles/ontimize-theme-styles.scss';

$primary: mat-palette($mat-pink);
$accent: mat-palette($mat-blue-grey, A200, A100, A400);

$theme: o-mat-light-theme($primary, $accent);
$dark-theme: o-mat-dark-theme($primary, $accent);