@import 'node_modules/@angular/material/theming';
// Include non-theme styles for core.
@include mat-core();

/* Color definitions */
$mat-custom-primary: ( 
  500: #003A76,
  A200: #ffffff,
  700: #003A76,
  200: #1464A5, // For slide toggle,
  contrast : (
    500: #ffffff,
    A200: rgba(#000, 0.87),
    700: #ffffff) );

$mat-custom-accent: (
  500: #003A76,
  A200: #ffffff,
  700: #003A76,
  200: #1464A5, // For slide toggle,
  contrast : (
    500: #ffffff,
    A200: rgba(#000, 0.87),
    700: #ffffff));

// Define a theme.
$primary: mat-palette($mat-custom-primary);
$accent: mat-palette($mat-custom-accent);
$background-color: #eceff1;

/* Light theme */
$theme: mat-light-theme($primary, $accent);

// Insert custom background color
$background: map-get($theme, background);
$background: map_merge($background, (background: $background-color));

$theme: map_merge($theme, (background: $background));
/* Dark theme */
$primary-dark: mat-palette($mat-custom-primary,200,200,200);
$accent-dark: mat-palette($mat-custom-accent,200,200,200);
$dark-theme: mat-dark-theme($primary-dark, $accent-dark);