@import './form-field/o-form-field-theme.scss';
@import './form-field/o-form-field-fill-theme.scss';
@import './form-field/o-form-field-legacy-theme.scss';
@import './form-field/o-form-field-outline-theme.scss';
@import './form-field/o-form-field-standard-theme.scss';
@mixin o-table-typography-lite($config) {
  .o-table.o-table {
    .o-table-container {
      .mat-table {
        &.small {
          .mat-header-row,
          .mat-row {
            padding: 0;
          }

          .mat-header-row {
            height: 28px;

            .mat-header-cell {
              font-size: 16px;
            }
          }

          .mat-row {
            height: 24px;

            .mat-cell {
              font-size: 11px;

              .image-avatar {
                width: 20px;
                height: 20px;
              }
            }
          }
        }

        &.medium {
          .mat-header-row,
          .mat-row {
            padding: 0 6px;
          }

          .mat-header-row {
            height: 36px;

            .mat-header-cell {
              font-size: 16px;
            }
          }

          .mat-row {
            height: 32px;

            .mat-cell {
              font-size: 12px;

              .image-avatar {
                width: 26px;
                height: 26px;
              }
            }
          }
        }

        &.large {
          .mat-header-row {
            height: 40px;

            .mat-header-cell {
              font-size: 16px;
            }
          }

          .mat-row {
            height: 36px;

            .mat-cell {
              .image-avatar {
                width: 30px;
                height: 30px;
              }
            }
          }
        }
      }
    }
  }
}

@mixin o-common-typography-lite($config) {
  $font-size-title-container: 0.75;
  /* O-COLUMN, O-ROW */
  o-column,
  o-row {
    .o-container {
      .container-title {
        border-bottom-width: 1px;

        span {
          font-size: 14px;
          font-weight: 600;
        }
      }

      .container-content {
        padding: 6px 6px 6px 12px;
      }
    }
  }

  .o-column.appearance-outline,
  .o-row.appearance-outline {
    > .o-container {
      .container-title {
        span {
          font-size: $font-size-title-container* 1em;
        }
      }
    }

    .container-outline {
      .container-outline-end,
      .container-outline-start {
        border-width: 1px;
      }

      .container-outline-gap {
        border-width: 1px;
      }
    }

  }

  /* O-APP-LAYOUT */
  .o-app-sidenav.o-app-sidenav {
    .o-app-header {
      height: 40px;

      .o-app-header {
        padding: 0 16px 0 0;

        .sidenav-toggle {
          padding: 8px;
        }
      }
    }

  }

  /* MD-TAB-GROUP */
  .mat-tab-group .mat-tab-label {
    height: 32px;
    padding: 0 6px;
  }

  /* O-LIST-PICKER-DIALOG */
  .o-list-picker-dialog.o-list-picker-dialog {
    .mat-toolbar {
      padding-top: 8px;
    }

    .mat-dialog-content {
      padding: 0 12px;

      // 100% - buttons (49px)
      max-height: calc(100% - 49px);
      min-height: calc(100% - 49px);

      &.o-list-picker-has-filter {
        // 100% - toolbar (64px) - buttons (49px)
        max-height: calc(100% - 113px);
        min-height: calc(100% - 113px);
      }
    }

    .mat-dialog-actions {
      padding: 6px 12px;
    }
  }
  @media(max-width: 599px) {
    .o-list-picker-dialog.o-list-picker-dialog .mat-dialog-content.o-list-picker-has-filter {
      // 100% - toolbar (56px) - buttons (49px)
      max-height: calc(100% - 105px);
      min-height: calc(100% - 105px);
    }
  }
}
@mixin o-form-theme() {
  $mat-toolbar-height-desktop: 36px !important;
  $margin-buttom: 6px !important;

  .o-form {
    .o-form-toolbar {
      .o-form-toolbar-header {
        min-height: $mat-toolbar-height-desktop;
        max-height: $mat-toolbar-height-desktop;
        padding: 0;
        box-shadow: none;
      }

      // &[layout-padding] {
      //   padding: 0;
      // }

      .mat-button,
      .mat-button[disabled] {
        border: none;
        height: 100%;
        border-radius: 0;
      }

      .mat-button {
        min-width: auto;
        margin: 0 $margin-buttom;

      }
    }

  }
}
