@import './form-field/o-form-field-theme.scss';
@import './form-field/o-form-field-fill-theme.scss';
@import './form-field/o-form-field-legacy-theme.scss';
@import './form-field/o-form-field-outline-theme.scss';
@import './form-field/o-form-field-standard-theme.scss';
@mixin o-table-typography-lite($config) {
  .o-table.o-table {
    .o-table-container {
      .mat-table {
        &.small {
          .mat-header-row,
          .mat-row {
            padding: 0;
          }

          .mat-header-row {
            height: 28px;

            .mat-header-cell {
              font-size: 16px;
            }
          }

          .mat-row {
            height: 24px;

            .mat-cell {
              font-size: 11px;

              .image-avatar {
                width: 20px;
                height: 20px;
              }
            }
          }
        }

        &.medium {
          .mat-header-row,
          .mat-row {
            padding: 0 6px;
          }

          .mat-header-row {
            height: 36px;

            .mat-header-cell {
              font-size: 16px;
            }
          }

          .mat-row {
            height: 32px;

            .mat-cell {
              font-size: 12px;

              .image-avatar {
                width: 26px;
                height: 26px;
              }
            }
          }
        }

        &.large {
          .mat-header-row {
            height: 40px;

            .mat-header-cell {
              font-size: 16px;
            }
          }

          .mat-row {
            height: 36px;

            .mat-cell {
              .image-avatar {
                width: 30px;
                height: 30px;
              }
            }
          }
        }
      }
    }
  }
}
@mixin o-datatable-typography-lite($config) {
  .o-table.o-table .o-table-container table {
    &.medium,
    &.small {
      .o-table-column.o-table-column-action mat-icon {
        font-size: 14px;
        line-height: 18px;
      }
    }

    .dt-buttons .dt-button {
      font-size: 12px;
    }
  }

  .o-table.o-table .o-table-container table.small {
    tbody td:first-child:not(.o-table-column-action):not(.o-table-column-select-checkbox),
    tbody td:nth-child(2):not(.o-table-column-action),
    tbody td:nth-child(n+3):nth-last-child(n+2):not(.o-table-column-action),
    thead tr th:first-child:not(.o-table-column-select-checkbox),
    thead tr th:nth-child(2),
    thead tr th:nth-child(n+3):nth-last-child(n+2):not(.o-table-column-action) {
      padding: 0 12px 0 8px !important;
    }

    thead tr th:first-child.o-table-column-image {
      padding-right: 20px !important;
    }

    thead tr th {
      &.sorting::after,
      &.sorting::before,
      &.sorting_asc::after,
      &.sorting_asc::before,
      &.sorting_asc_disabled::after,
      &.sorting_asc_disabled::before,
      &.sorting_desc::after,
      &.sorting_desc::before,
      &.sorting_desc_disabled::after,
      &.sorting_desc_disabled::before {
        font-size: 12px;
      }

      &.o-table-column-action {
        padding: 0 10px !important;

        &:last-child {
          padding-right: 16px !important;
        }
      }
    }

    tbody {
      td {
        font-size: 11px;

        .image-avatar {
          width: 20px;
          height: 20px;
        }
      }

      tr {
        height: 24px;
      }
    }

    thead tr {
      height: 28px;

      th {
        font-size: 16px;
      }
    }
  }

  .o-table.o-table .o-table-container table.medium {
    tbody td:first-child:not(.o-table-column-action):not(.o-table-column-select-checkbox),
    tbody td:nth-child(2):not(.o-table-column-action),
    tbody td:nth-child(n+3):nth-last-child(n+2):not(.o-table-column-action),
    thead tr th:first-child:not(.o-table-column-select-checkbox),
    thead tr th:nth-child(2),
    thead tr th:nth-child(n+3):nth-last-child(n+2):not(.o-table-column-action) {
      padding: 0 16px 0 12px !important;
    }

    thead tr th:first-child.o-table-column-image {
      padding-right: 32px !important;
    }

    thead tr th {
      &.sorting::after,
      &.sorting::before,
      &.sorting_asc::after,
      &.sorting_asc::before,
      &.sorting_asc_disabled::after,
      &.sorting_asc_disabled::before,
      &.sorting_desc::after,
      &.sorting_desc::before,
      &.sorting_desc_disabled::after,
      &.sorting_desc_disabled::before {
        font-size: 12px;
      }

      &.o-table-column-action {
        padding: 0 12px !important;

        &:last-child {
          padding-right: 20px !important;
        }
      }
    }

    tbody {
      td {
        font-size: 12px;

        .image-avatar {
          width: 28px;
          height: 28px;
        }
      }

      tr {
        height: 32px;
      }
    }

    thead tr {
      height: 36px;

      th {
        font-size: 16px;
      }
    }
  }

  .o-table.o-table .o-table-container table.large {
    tbody td:first-child:not(.o-table-column-action):not(.o-table-column-select-checkbox),
    tbody td:nth-child(2):not(.o-table-column-action),
    tbody td:nth-child(n+3):nth-last-child(n+2):not(.o-table-column-action),
    thead tr th:first-child:not(.o-table-column-select-checkbox),
    thead tr th:nth-child(2),
    thead tr th:nth-child(n+3):nth-last-child(n+2):not(.o-table-column-action) {
      padding: 0 20px 0 16px !important;
    }

    thead tr th:first-child.o-table-column-image {
      padding-right: 32px !important;
    }

    thead tr th {
      &.sorting::after,
      &.sorting::before,
      &.sorting_asc::after,
      &.sorting_asc::before,
      &.sorting_asc_disabled::after,
      &.sorting_asc_disabled::before,
      &.sorting_desc::after,
      &.sorting_desc::before,
      &.sorting_desc_disabled::after,
      &.sorting_desc_disabled::before {
        font-size: 13px;
      }
    }

    .o-table-column.o-table-column-action md-icon {
      font-size: 16px;
      line-height: 20px;
    }

    thead tr {
      height: 40px;

      th {
        font-size: 18px;
      }
    }

    tbody tr {
      height: 36px;
    }
  }
}
@mixin o-common-typography-lite($config) {
  $font-size-title-container: .75;

  /* O-COLUMN, O-ROW */
  .o-column,
  .o-column-collapsible,
  .o-row,
  .o-row-collapsible {
    > .o-container {
      > .o-container-title {
        border-bottom-width: 1px;
        height: 30px;

        span {
          font-size: 14px;
        }
      }
    }
  }

  .o-column-collapsible:not(.o-appearance-outline),
  .o-column:not(.o-appearance-outline),
  .o-row-collapsible:not(.o-appearance-outline),
  .o-row:not(.o-appearance-outline) {
    > .o-container {
      > .o-container-title {
        margin: 0;
        padding: 0;
        font-size: 14px;

        span {
          padding-left: 0;
        }
      }
    }
  }

  .o-column-collapsible:not(.o-appearance-outline),
  .o-row-collapsible:not(.o-appearance-outline) {
    > .o-container.mat-expansion-panel .mat-expansion-panel-header {
      padding: 0;
      margin: 0;
    }
  }

  .o-column-collapsible,
  .o-row-collapsible {
    > .o-container.mat-expansion-panel {
      .mat-expansion-panel-header {
        .mat-expansion-panel-header-title {
          span {
            font-size: 14px;
            padding-left: 0;
          }
        }
      }

      .mat-expansion-panel-content .mat-expansion-panel-body {
        > .o-container-scroll {
          padding: 6px;
        }
      }

    }
  }

  .o-column > .o-container .o-container-scroll.o-container-gap,
  .o-row > .o-container .o-container-scroll.o-container-gap {
    padding: 6px;
  }

  .o-column.o-appearance-outline > .o-container .o-container-scroll.o-container-gap,
  .o-row.o-appearance-outline > .o-container .o-container-scroll.o-container-gap {
    padding: 12px;
  }

  .o-column-collapsible.o-appearance-outline,
  .o-row-collapsible.o-appearance-outline {
    > .o-container.mat-expansion-panel {
      .mat-expansion-panel-content .mat-expansion-panel-body {
        > .o-container-scroll {
          padding: 12px;
        }
      }

    }
  }


  /* O-APP-LAYOUT */
  .o-app-sidenav.o-app-sidenav {
    .o-app-header {
      height: 40px;

      .o-app-header {
        padding: 0 16px 0 0;

        .sidenav-toggle {
          padding: 8px;
        }
      }
    }

  }

  /* MD-TAB-GROUP */
  .mat-tab-group.mat-tab-group {
    > .mat-tab-header {
      margin: 8px 0;

      .mat-tab-label {
        height: 32px;
      }
    }

    > .mat-tab-body-wrapper {
      padding: 0;
    }
  }

  /* O-LIST-PICKER-DIALOG */
  .o-list-picker-dialog.o-list-picker-dialog {
    .mat-toolbar {
      padding-top: 8px;
    }

    .mat-dialog-content {
      padding: 0 12px;

      // 100% - buttons (49px)
      max-height: calc(100% - 49px);
      min-height: calc(100% - 49px);

      &.o-list-picker-has-filter {
        // 100% - toolbar (64px) - buttons (49px)
        max-height: calc(100% - 113px);
        min-height: calc(100% - 113px);
      }
    }

    .mat-dialog-actions {
      padding: 6px 12px;
    }
  }
  @media(max-width: 599px) {
    .o-list-picker-dialog.o-list-picker-dialog .mat-dialog-content.o-list-picker-has-filter {
      // 100% - toolbar (56px) - buttons (49px)
      max-height: calc(100% - 105px);
      min-height: calc(100% - 105px);
    }
  }
}
@mixin o-form-theme() {
  $mat-toolbar-height-desktop: 36px !important;
  $margin-buttom: 6px !important;

  .o-form {
    .o-form-toolbar {
      .o-form-toolbar-header {
        min-height: $mat-toolbar-height-desktop;
        max-height: $mat-toolbar-height-desktop;
        padding: 0;
        box-shadow: none;
        font-size: 16px;
      }

      // &[layout-padding] {
      //   padding: 0;
      // }

      .mat-button,
      .mat-button[disabled] {
        border: none;
        border-radius: 0;
      }

      .mat-button {
        min-width: auto;
        margin: 0 $margin-buttom;

      }
    }

  }
}
