@mixin o-table-typography-lite($config) {
  .o-table-quickfilter-menu {
    $mat-checkbox-size: 16px;

    .mat-checkbox {
      font-size: mat-font-size($config, input);

      .mat-checkbox-inner-container {
        width: $mat-checkbox-size;
        height: $mat-checkbox-size;
      }
    }
  }

  .o-table.o-table {
    .o-table-container {
      .mat-paginator-container {
        min-height: 0;

        .mat-paginator-page-size {
          align-items: center;

          .mat-paginator-page-size-select {
            margin: 6px 0;

            .mat-select-arrow-wrapper {
              transform: initial;
            }

            .mat-form-field-infix {
              border-top: 0;
            }
          }
        }

        .mat-paginator-range-actions {
          min-height: 0;
        }
      }

      .mat-table {
        .mat-form-field {
          .mat-form-field-infix {
            border-top: 0;
          }
        }

        .mat-header-row,
        .mat-row {
          padding: 0;
        }

        &.small {
          .mat-row .mat-cell {
            .image-avatar {
              width: 20px;
              height: 20px;
            }
          }
        }

        &.medium {
          .mat-row .mat-cell {
            .image-avatar {
              width: 26px;
              height: 26px;
            }
          }
        }

        &.large {
          .mat-row .mat-cell {
            .image-avatar {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
  }
}
@mixin o-common-typography-lite($config) {
  .o-column,
  .o-row {
    > .o-container {
      > .o-container-title {
        height: 30px;
      }
    }
  }

  .o-column,
  .o-column-collapsible,
  .o-row,
  .o-row-collapsible {
    > .o-container {
      > .o-container-title {
        span {
          font: {
            size: mat-font-size($config, title);
            weight: mat-font-weight($config, title);
          }
        }
      }
    }
  }

  .o-column-collapsible,
  .o-row-collapsible {
    > .o-container.mat-expansion-panel {
      .mat-expansion-panel-header {
        padding: 0;
        margin: 0;

        .mat-expansion-panel-header-title {
          span {
            //font-size: 14px;
            padding-left: 0;
          }
        }
      }

      .mat-expansion-panel-content .mat-expansion-panel-body {
        > .o-container-scroll {
          padding: 10px 6px 6px;
        }
      }
    }
  }

  .o-column > .o-container .o-container-scroll.o-container-gap,
  .o-row > .o-container .o-container-scroll.o-container-gap {
    padding: 10px 6px 6px;
  }
  /* O-APP-LAYOUT */
  .o-app-sidenav.o-app-sidenav {
    .o-app-header {
      height: 40px;

      .o-app-header {
        .sidenav-toggle {
          padding: 8px;
        }
      }
    }
  }
  /* MD-TAB-GROUP */
  .mat-tab-group .mat-tab-label {
    > .mat-tab-header {
      padding-top: 8px;

      .mat-tab-label {
        height: 32px;
      }
    }
  }
  /* O-LIST-PICKER-DIALOG */
  .o-list-picker-dialog.o-list-picker-dialog {
    .mat-toolbar {
      padding-top: 8px;
    }

    .mat-dialog-content {
      padding: 0 12px;
      // 100% - buttons (49px)
      max-height: calc(100% - 49px);
      min-height: calc(100% - 49px);

      &.o-list-picker-has-filter {
        // 100% - toolbar (64px) - buttons (49px)
        max-height: calc(100% - 113px);
        min-height: calc(100% - 113px);
      }
    }

    .mat-dialog-actions {
      padding: 6px 12px;
    }
  }

  .mat-tooltip-panel {
    .o-tooltip.mat-tooltip {
      &.after,
      &.right {
        margin-left: 5px;
      }

      &.before,
      &.left {
        margin-right: 5px;
      }

      &.above {
        margin-bottom: -15px;
      }

      &.below {
        margin-top: 5px;
      }
    }
  }

  .o-filter-by-column-dialog {
    .select-all-checkbox {
      margin-top: 10px;
    }
  }
  @media(max-width: 599px) {
    .o-list-picker-dialog.o-list-picker-dialog .mat-dialog-content.o-list-picker-has-filter {
      // 100% - toolbar (56px) - buttons (49px)
      max-height: calc(100% - 105px);
      min-height: calc(100% - 105px);
    }
  }
}
@mixin o-form-theme() {
  $mat-toolbar-height-desktop: 36px;
  $margin-buttom: 6px;

  .o-form {
    .o-form-toolbar {
      .o-form-toolbar-header {
        min-height: $mat-toolbar-height-desktop;
        max-height: $mat-toolbar-height-desktop;
        padding: 0;
        box-shadow: none;
        font-size: 16px;

        .mat-toolbar-tools {
          .o-form-toolbar-button,
          .o-form-toolbar-button[disabled] {
            border: none;
            border-radius: 0;
          }

          .mat-stroked-button {
            min-width: auto;
            margin: 0 $margin-buttom;
            border: none;
          }
        }
      }
    }
  }
}
