$success-color: #2ecc71;
$success-color-hover: #25a25a;
$danger-color: #e74c3c;
$danger-color-hover: #d62c1a;
$primary-color: #1ABC9C;
$primary-color-hover: #148f77;
$warning-color: #f1c40f;
$warning-color-hover: #c29d0b;
$info-color: #3498db;
$info-color-hover: #217dbb;

$default-color: #bdc3c7;
$default-color-hover:#a9b3b9;
$inverse-color: #34495e;
$disable-color: #ECF0F1;